.title {  font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bolder; color: #FFFF99}
a:hover {  color: #009999; text-decoration: none}
a {  color: #66CCFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 16px}
.text {  font-family: "Times New Roman", Times, serif; font-size: 16px; text-decoration: none; color: #FFFF99}
body {  color: #000000; background-color: #000000}
