a:hover {  color: #009999; text-decoration: none}
a {  color: #6699CC; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.text {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #FFFF99}
body {  color: #000000; background-color: #000000}
