a:hover {  color: #009999; text-decoration: none}
a {  color: #6699CC; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px}
body {  color: #FFFF99; background-color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none}
.text {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFF99; text-decoration: none}
